/* CSS declarations go here */

body {
  padding-bottom: 10px;
  background-color: white;
}

#user-text:focus {
  outline: none;
  border: none;
  border-color: transparent;
  font-size: 1.5em;
  border-width: 0px;
}

#user-text {
  border: none;
  background-color: transparent;
  color: black;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

#stringname {
  border: none;
  background-color: transparent;
  color: black;
  width: 150px;
  outline: none;
  font-size: 1.5em;
}

.js-spool-container {
  background-color: transparent;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

.body-text {
  color: black;
  display: block;
}

#scroll {
  position: fixed;
  background-color: white;
  border: none;
  width: 100%;
  height: 70px;
  color: black;
  border-bottom: 2px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  outline: none;
}

/*#user-text-colour {
  width: 100px;
}*/

.string-sets {
  text-align: center;
}

#red-label {
  color: red;
}

#blue-label {
  color: lightblue;
}

#green-label {
  color: green;
}

#opacity-label {
  color: black;
}

#red, #blue, #green, #opacity {
  width: 100px;
  display: inline;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #000;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #000;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #000;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

@media only screen and (max-width: 830px) {
  .body-text { font-size: 5em; }
}

@media only screen and (max-width: 2000px) {
  .body-text { font-size: 1.5em; }
}
